.appbar {
  width: 80vw !important;
  top: 0 !important;
  left: 10px !important;
  right: -10px !important;
  @media (max-width: 1200px) {
    left: 5px !important;
    right: -5px !important;
    width: 100% !important;
  }
  @media (max-width: 800px) {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
}
.select {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.links {
  color: #fff !important ;
  font-size: 16px !important ;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.divider {
  width: 2px;
  height: 34px;
  margin: 1rem;
  //   transform: rotate(90deg);
  flex-shrink: 0;
  color: transparent;
  //   font-size: 0px;
  //   transform: skew();
  background: linear-gradient(
    rgba(239, 127, 26, 0.22),
    rgba(239, 127, 26, 1),
    rgba(239, 127, 26, 0.22)
  );
  //   color: yellow;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: "center";
  //   text-shadow: 0, 0, 0 1px #d8b00e;
  //   transform: scaleY(2);
}

.navbarMain {
  font-size: 1.2em;
  align-self: center;
  margin-left: 0.5rem;
  color: black;
}

@media (max-width: 768px) {
  .navbarMain {
    font-size: 0.6em;
    font-weight: 700;
    align-self: center;
    margin-left: 0.5rem;
    color: black;
  }
}
