.outer {
  // padding: 10px;
  overflow-y: hidden;
  width: 80vw;
  height: 35rem;
  overflow-x: hidden; /* Yangi qo'shildi */
}
.flex-container {
  overflow-x: auto;
  height: calc(100% + 17px);
  padding-bottom: 17px;
  display: flex;
  flex-wrap: nowrap;
}
.flex-container::-webkit-scrollbar {
  display: none;
}
.card {
  flex: 1 0 500px;
  height: 150px;
  display: inline-block;
  margin: 5px;
}
.news_title {
  color: #324291;
  max-height: 1rem;
  min-height: 4rem;
  margin-top: -2rem !important;
  // background: #000;
}
.news_description {
  max-height: 3rem;
  min-height: 3.8rem;
  // background: #0f0;
}
.news_more {
  // background: #00f;
  max-height: 1.5rem;
  min-height: 1rem;
}

@media (max-width: 768px) {
  .card {
    width: 200px !important;
    // height: 150px;
    margin: 0;
  }
}
